.htaccess
.buildpath
.project
.settings/
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/themes/*.zip
wp-content/themes/day8*
wp-content/themes/Wordpressforest*
wp-content/themes/phongvh*
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml
sitemap.xml.gz
wp-content/themes/vuhongphong/blogtpl.php
wp-content/themes/vuhongphong/example.php
demo/
video/
code/